# Dependencies
node_modules/

# Build Output
dist/
dist-ssr/

# TypeScript Cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Files
.env
.env.local
.env.production
.env.*
*.local

# IDE / Editor
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
